In [1]:
import numpy as np
import pandas as pd

In [18]:
sr1 = pd.Series({'Node 1': 'A', 'Node 2' : 'B', 'Weight' : 2})
sr2 = pd.Series({'Node 1': 'A', 'Node 2' : 'C', 'Weight' : 3})
sr3 = pd.Series({'Node 1': 'B', 'Node 2' : 'D', 'Weight' : 1})

df1 = pd.DataFrame([sr1, sr2, sr3])
df1.loc[2], df1.loc[1] = df1.loc[1], df1.loc[2]
df1

  Node 1 Node 2  Weight
0      A      B       2
1      B      D       1
2      A      C       3

In [16]:
for i in range(0,2):
    if(df1.loc[i,'Weight'] > df1.loc[i+1, 'Weight']):
        df1.loc[i], df1.loc[i+1] = df1.loc[i+1], df1.loc[i]
        
df1

  Node 1 Node 2  Weight
0      B      D       1
1      A      B       2
2      A      C       3

In [ ]:
def Union(df, count):
    for i in range(0,count):
        if(df.loc[i, 'Node 1'] is not in ref or df.loc[i, 'Node 2'] is not in ref):